<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spring Boot Session Example</title>
	<style>
		body {
			display: flex;
			justify-content: center;
			background-image: url("img/reglas.jpg");
			background-size: cover;
		}

		fieldset {
			margin-top: 160%;
			color: black;
			background-color: gainsboro;
		}

		.button {
			color: black;
			border-color: black;
		}
	</style>

</head>

<body>
	<form action="#" th:action="@{/pregunta6}" method="post">
		<fieldset>

			<label>
				<h3> ¿Te gusta seguir las reglas?</h3>
			</label>
			<br>
			<label> Si:</label>
			<input type="radio" name="q5" value="5" />
			<br>
			<label> No:</label>
			<input type="radio" name="q5" value="-5" />
			<br>
			<input class="button" type="submit" />
		</fieldset>
	</form>
</body>
</html>