<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Slitherin</title>
	<style>
		body {
			display: flex;
			justify-content: center;
			background-image: url("img/clasificacion.jpg");
			background-size: cover;
			color: white;
		}

		img {
			max-width: 35%;
			margin-left: 35%;
		}

		p {
			margin-left: 40%;
			width: 25%;
			background-color: white;
			color: black;
		}
	</style>

</head>

<body>
	<div>
		<img src="img/slytherin.jpg" />
		<p>
			La Casa Slytherin cuenta con miembros ambiciosos, inteligentes,
			muy astutos y que tienden a ser líderes fuertes.
			Aunque también son unos supervivientes, lo que les hace pensar antes de actuar
			(al contrario que los Gryffindor), pese a tener un claro desprecio por las reglas.

		</p>
		<p>Colores: Verde y plata.</p>
		<form th:action="@{/destroy}" method="post">
			<input type="submit" value="Volver al Inicio" />
		</form>
		<form th:action="@{/clasificacion}">
			<input type="submit" value="Clasificacion" />
		</form>
	</div>
</body>

</html>